@model Travelogue.ViewModels.BlogViewModel
@{
    ViewData["Title"] = "Blog Details";
}
<div class="row">
    <h3>@Html.DisplayFor(modelItem => modelItem.BlogTitle)</h3>
</div>
<div class="row">
    <h5>@Html.DisplayFor(modelItem => modelItem.Description)</h5>
</div>
<div class="well">
    @if (Model.Posts != null)
    {
        @foreach (var post in Model.Posts)
        {
            <div class="well">
                <a asp-controller="Posts" asp-action="Details" asp-route-id="@post.Id">
                    @Html.DisplayFor(modelPost => post.Title)
                </a>
                <div class="row">
                    @Html.DisplayFor(modelPost => post.Post)
                </div>
            </div>
        }
    }
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a>
</div>
