@model IEnumerable<Travelogue.Models.Blog>
@{
    ViewData["Title"] = "About";
}
<aside>
    <div class="form-group">
        <div id="content"></div>
    </div>
</aside>
<div class="jumbotron">
    <div id="container">
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li><a class="btn btn-primary" asp-area="" asp-controller="Blog" asp-action="Create">Create Blog</a></li>
            </ul>
        </div>
        <div class="well">
            @foreach (var item in Model)
            {
                <div class="row">
                    <h3>@Html.DisplayFor(modelItem => item.Title)</h3>
                </div>
                <div class="row">
                    <h5>@Html.DisplayFor(modelItem => item.Subtitle)</h5>
                </div>

                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                <a asp-action="Details" asp-route-id="@item.Id">Details</a>
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            }
        </div>
    </div>
    @*<div>
            <a asp-controller="Blog" asp-action="Create" class="btn btn-default">Create Blog Post</a>
        </div>*@
</div>
