@using SubPost = Travelogue.Models.Blogs.SubPost
@model Travelogue.ViewModels.PostViewModel
@{
    ViewData["Title"] = "View Post";
}
<div class="container">
    <div class="row">
        <!-- Post Content Column -->
        <div class="col-lg-8">
            <!-- Title -->
            <h1 class="mt-4">@Html.DisplayFor(modelPost => Model.Title)</h1>
            <!-- Author -->
            <p class="lead" style="display: inline-block;">
                by
                <a href="#">@Model.Username</a>
            </p>
            @if (User.Identity.IsAuthenticated)
            {
                <div style="display: inline-block;float: right;">
                    <a class="btn btn-primary" asp-controller="Posts" asp-action="Edit" asp-route-id="@Model.Id">Edit</a>
                    <a class="btn btn-primary" asp-controller="Posts" asp-action="Delete" asp-route-id="@Model.Id">Delete</a>
                </div>
            }

            <hr>
            <!-- Date/Time -->
            <p>Posted on @Html.DisplayFor(modelPost => Model.PostedOn)</p>
            <hr>
            <!-- Preview Image -->
            <img class="img-fluid rounded" src="@Model.Image" alt="" />
            <hr>
            <!-- Post Content -->
            <div class="lead" style="overflow-wrap: break-word;">@Html.Raw(Model.PostText)</div>
            
            <!-- Sub Posts-->
            <div id="initialSubPosts">@Html.Partial("SubPosts/_SubPosts", Model.SubPosts)</div>
            
            <div class="sub-post-section">
                <div id="subPosts"></div>
            </div>
            
            <div  class="sub-posts card-custom card-body bg-light sub-posts-create" style="display: none;">
                @Html.Partial("SubPosts/_CreateSubPost", new SubPost() { PostId = Model.Id})
            </div>
           

            <hr>

            @if (Model.AllowsComments)
            {
                @Html.Partial("Comments/_AddComment")
                <div id="commentsOnPageLoad">@Html.Partial("Comments/_Comments", Model.Comments)</div>
                <div id="comments" style="border: 1px solid rgba(0,0,0,.1);"></div>
            }
            else
            {
                <div class="card-custom my-4 disabled">
                    <h5 class="card-header">Comments are disabled for this Post.</h5>
                    <div class="card-body">
                        <form>
                            <div class="form-group">
                                <textarea class="form-control" rows="3"></textarea>
                            </div>
                            <button class="btn btn-primary disabled">Submit</button>
                        </form>
                    </div>
                </div>
            }

            <input type="hidden" value="@Model.Id" id="hdnPostId" />
        </div>

        <!-- Sidebar Widgets Column -->
        <div class="col-md-4">
            @Html.Partial("SidePanels/_SidePanelCategories", Model.SubPosts)
            @if (!string.IsNullOrEmpty(Model.TopTip))
            {
                @Html.Partial("SidePanels/_SidePanelTopTip", Model.TopTip)
            }
        </div>
    </div>
</div>

@section Scripts {
    <script type="text/javascript">
        $(document).ready(function () {
            //$('#summernote').summernote({
            //    height: 200,
            //    popover: {
            //        image: [],
            //        link: [],
            //        air: []
            //    }
            //});

            //$('#summerNoteCreateSubPost').summernote({
            //    height: 200,
            //    popover: {
            //        image: [],
            //        link: [],
            //        air: []
            //    }
            //});
            
        });
    </script>
}