@model Travelogue.ViewModels.PaginatedList<Travelogue.ViewModels.PostViewModel>
@*@model IEnumerable<Travelogue.ViewModels.PostViewModel>*@
@{
    ViewData["Title"] = "Posts";
}

<div class="container">
    <div class="row">
        <!-- Blog Entries Column -->
        <div class="col-md-8">
            
            @if (ViewBag.Message == true)
            {
                <h1 class="my-4">
                    Your Posts, @User.Identity.Name!
                </h1>

                 <!-- Blog Post -->
                foreach (var item in Model)
                {
                    <div class="card-custom mb-4">
                        <img class="card-img-top" src="@item.Image" alt="Card image cap">
                        <div class="card-body">
                            <h2 class="card-title">@item.Title</h2>
                            <p class="card-text" style="overflow-wrap: break-word;">@Html.Raw(item.PostText)</p>
                            <a class="btn btn-primary" asp-controller="Posts" asp-action="Details" asp-route-id="@item.Id">Read More &rarr;</a>
                        </div>
                        <div class="card-footer text-muted">
                            Posted on @item.PostedOn by
                            <a href="#">@item.Username</a>
                        </div>
                    </div>
                }
            }
            else
            {
                <h1 class="my-4">
                    Travel Posts
                </h1>

                 <!-- Blog Post -->
                foreach (var item in Model.Where(x => x.Published))
                {
                    <div class="card-custom mb-4">
                        <img class="card-img-top" src="@item.Image" alt="Card image cap">
                        <div class="card-body">
                            <h2 class="card-title">@item.Title</h2>
                            <p class="card-text" style="overflow-wrap: break-word;">@Html.Raw(item.PostText)</p>
                            <a class="btn btn-primary" asp-controller="Posts" asp-action="Details" asp-route-id="@item.Id">Read More &rarr;</a>
                        </div>
                        <div class="card-footer text-muted">
                            Posted on @item.PostedOn by
                            <a href="#">@item.Username</a>
                        </div>
                    </div>
                }
            }          

            <!-- Pagination -->
            @{
                var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
                var nextDisabled = !Model.HasNextPage ? "disabled" : "";
            }

            <a asp-action="Index"
               asp-route-sortOrder="@ViewData["CurrentSort"]"
               asp-route-pageNumber="@(Model.PageIndex - 1)"
               asp-route-currentFilter="@ViewData["CurrentFilter"]"
               class="btn btn-default @prevDisabled">
                &larr; Newer
            </a>
            <a asp-action="Index"
               asp-route-sortOrder="@ViewData["CurrentSort"]"
               asp-route-pageNumber="@(Model.PageIndex + 1)"
               asp-route-currentFilter="@ViewData["CurrentFilter"]"
               class="btn btn-default @nextDisabled">
                Older &rarr;
            </a>
        </div>

        <!-- Sidebar Widgets Column -->
        <div class="col-md-4">
            @*@Html.Partial("SidePanels/_SidePanelCategories")*@
            @*@Html.Partial("SidePanels/_SidePanelTopTip")*@
        </div>
    </div>
    <!-- /.row -->
</div>
<!-- /.container -->
